
@{
    ViewData["Title"] = "Converter";
}

<h1>Convert Numbers To Words</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="someNumber" value="@ViewData["someNumber"]" />
            <input type="submit" value="Convert" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                The Word Conversion is: <a>@ViewData["ConvertedWords"]</a>
            </th>
        </tr>
    </thead>
</table>